@font-face {
	font-family: 'Gotham Pro';
	src: url(/site-files/gotham.ttf);
}
@font-face {
	font-family: 'Gotham Pro Bold';
	src: url(/site-files/gotham-b.ttf);
}
@font-face {
	font-family: 'Gotham Pro Black';
	src: url(/site-files/gotham-black.ttf);
}
@font-face {
	font-family: 'Gotham Pro Italic';
	src: url(/site-files/gotham-i.ttf);
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	background-color: #201723;
	color: white;
	font-family: 'Gotham Pro', sans-serif;
}

.fleft {float: left;}
.fright {float: right;}
.clean {clear: both;}

#wrapper {
	max-width: 1520px;
	min-width: 320px;
	padding: 40px 40px 0 40px;
	opacity: 1;
	-webkit-transition: opacity ease 0.2,;
	-moz-transition: opacity ease 0.2s;
	-o-transition: opacity ease 0.2s;
	transition: opacity ease 0.2s;
}

#wrapper.show {
	cursor: pointer;
	opacity: 0.1;
}

#about-me {
	width: 100%;
	margin: 0 0 60px 0;
	clear: both;
}

#fresh {
	max-width: 1520px;
	font-size: 16px;
	line-height: 24px;
	color: white;
}

#fresh span {
	display: block;
	font-size: 42px;
	line-height: 42px;
	font-family: 'Gotham Pro Black', sans-serif;
	margin: 0 0 35px 0;
}

#fresh div {
	margin: 0 0 -300px 0;
	position: absolute;
	top: 280px;
}

#fresh img {
	position: relative;
	width: 100%;
	position: relative;
}

#fresh p {
	max-width: 360px;
}

#fresh a {
	width: 170px;
	display: block;
	font-size: 18px;
	padding: 20px 20px 20px 30px;
	border-radius: 100px;
	text-decoration: none;
	border: 2px solid white;
	color: white;
	margin: 80px 0 0 0;
	-webkit-transition: box-shadow ease-out 0.2,;
	-moz-transition: box-shadow ease-out 0.2s;
	-o-transition: box-shadow ease-out 0.2s;
	transition: box-shadow ease-out 0.2s;
}

#fresh a:hover {
	background-image: url(/site-files/fish.jpg);
	background-size: cover;
	border: none;
	padding: 22px 22px 22px 32px;
	color: #201723;
	/*box-shadow: 0 0 50px #4b5961;*/
}

#fresh a:hover use {
	fill: black;
}

#fresh a svg {
	position: relative;
	top: 5px;
	margin: 0 0 0 20px;
}

@media all and (max-width: 1330px) {
	#fresh div {
		top: 150px;
	}
}

@media all and (max-width: 1000px) {
	#fresh img {
		display: none;
	}

	#fresh div {
		position: relative;
		margin: 120px 0 40px 0;
		top: 0;
		background-color: blue;
		padding: 40px;
		border-radius: 5px;
		background-image: url(/site-files/fish.jpg);
		background-size: cover;
		color: black;
	}

	#fresh a {
		border-color: #201723;
		color: #201723;
	}

	#fresh a use {
		fill: black;
	}
}

h1 {
	margin: 0 0 40px 0;
	padding: 0;
	width: 100%;
	font-style: black;
	font-size: 32px;
	line-height: 40px;
	clear: both;
	font-weight: normal;
	font-family: 'Gotham Pro Black', Arial;
}

h2 {
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
	font-size: 22px;
	line-height: 24px;
	width: 100%;
	font-weight: normal;
	font-family: 'Gotham Pro Bold', Arial;

}

p {
	margin: 0;
	padding: 0;
}

#portfolio {
	max-width: 1378px;
	margin: 60px 0 0 0;
}

#portfolio div {
	display: block;
	float: left;
	margin: 0 2px 60px 0;
	width: 25%;
	min-width: 200px;
	max-width: 300px;
	padding: 0;
}

#portfolio div img {
	width: 100%;
	border-radius: 5px;
}

#portfolio div span {
	display: block;
	font-family: 'Gotham Pro Italic', Arial;
	font-size: 12px;
}

#routine {
	max-width: 1100px;
	clear: both;
	padding: 60px 0 0 0;
}

#routine a {
	border: none;
	text-decoration: none;
	float: left;
	margin: 0 2px 2px 0;
}

#routine a img {
	width: 120px;
	height: 120px;
	display: block;
	margin: 0; padding: 0;
}

#notes-mainpage {
	clear: both;
	padding: 100px 0 60px 0;
}

#notes-mainpage div {
	display: inline-block;
	max-width: 260px;
	padding: 0 20px 40px 0;
	margin: 0;
	vertical-align: top;
}

#notes-mainpage a {
	display: block;
	font-size: 14px;
	font-family: 'Gotham Pro Italic', Arial;
	border: 1px solid white;
	border-radius: 10px;
	width: 65px;
	clear: both;
	text-decoration: none;
	color: white;
	line-height: 18px;
	padding: 26px 0 10px 7px;
	position: relative;
	float: right;
	background-image: url(/site-files/all-notes-arrow.svg);
	background-position: 42px 9px;
	background-repeat: no-repeat;
}

#footer {
	clear: both;
	width: 37px;
	height: 61px;
	margin: 100px 0 60px 0;
	background-image: url(/site-files/the-end.svg);
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
}